/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 16px;
  height: 13px;
  left: 26px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  height: 2px !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 280px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 0.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.categories-menu {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: left;
  padding: 0 8px;
}

.categories-menu__link,
.categories-menu__link:visited {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.categories-menu__link_main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.down_icon_btn {
  transition: 20ms;
  position: relative;
  float: right;
  margin-top: 6px;
  transform: rotate(-177deg);
  transition: 0.3s;
}

.icon_rotated {
  transform: rotate(0deg);
}

.categories-menu__submenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.categories-menu__submenu a {
  font-weight: normal !important;
  display: block;
  line-height: 40px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize !important;
  text-overflow: ellipsis;
}

.my_accordion_btn_cont {
  font-weight: bold;
}

.menu-tabs {
  display: flex !important;
  justify-content: space-between;
  position: relative;
  margin-bottom: 24px;
  border-bottom: none !important;
  width: 113%;
  left: -16px;
}

.menu-tabs .nav-link {
  color: #888 !important;
  padding: 6px !important;
}

.menu-tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000 !important;
  background-color: none !important;
  border: none !important;
}

.menu-tabs .nav-tabs .nav-link:hover {
  border: none !important;
}

.categories-menu li {
  padding-bottom: 9px;
}

.menu-tabs .nav-tabs .nav-link:hover {
  border: none !important;
}

.menu-tabs .nav-tabs .nav-link:focus,
.menu-tabs .nav-tabs .nav-link:hover {
  border-color: transparent !important;
}

.icon-arrow {
}

.arrow_right,
.arrow_left {
  background-color: #000;
  width: 6px;
  height: 2px;
  position: absolute;
  margin-top: 8px;
}

.arrow_right {
  margin-left: 6px;
}

.arrow_right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.arrow_left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 10px !important;
}

.rotated_left {
  -webkit-transform: rotate(-45deg) !important;
}

.rotated_right {
  -webkit-transform: rotate(45deg) !important;
}
