/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 16px;
  height: 13px;
  left: 26px;
  top: 44px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  height: 3px !important;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 280px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.categories-menu {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 40px;
  text-align: left;
  padding: 0 8px;
}

.categories-menu__link,
.categories-menu__link:visited {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.categories-menu__link_main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  align-items: center;
}

.down_icon_btn {
  transition: 20ms;
  position: relative;
  float: right;
  margin-top: 6px;
  transform: rotate(-177deg);
  transition: 0.3s;
}

.icon_rotated {
  transform: rotate(0deg);
}

.categories-menu__submenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.categories-menu__submenu a {
  font-weight: normal !important;
  display: block;
  line-height: 40px;
  height: 40px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize !important;
  text-overflow: ellipsis;
}

.my_accordion_btn_cont {
  font-weight: bold;
}
