/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.simple_slider .cover_img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 9px;
}

.simple_slider .slick-dots {
  display: block !important;
  visibility: visible !important;
  bottom: 6px;
}

.simple_slider .slick-dots li button:before {
  color: #ffff !important;
  opacity: 0.5;
}

.simple_slider .slick-dots li.slick-active button:before {
  color: #ffff !important;
  opacity: 0 !important;
}

.simple_slider .slick-dots li {
  width: 10px !important;
}

.simple_slider .heart_icon {
  position: absolute;
  top: 74px;
  right: 0;
  padding-right: 31px;
  z-index: 100;
}

.simple_slider .arrow_icon {
  position: absolute;
  top: 32px;
  padding-left: 15px;
}

.top-single-container {
  margin-top: -21px;
  padding: 10px;
}

.flex_just_bet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info_single .category {
  font-size: 16px;
  line-height: 18px;
}

.info_single .name {
  font-size: 18px;
  line-height: 21px;
}

.info_single .price {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

.info_single .logo img {
  width: 100px;
  height: 32.35px;
}

.size_slider input {
  height: 60px;
  width: 72px;
  opacity: 0;
}

.size_slider .show_size {
  margin-top: -64px;
  background-color: #f5f5f5;
  padding: 0px 27px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.size_slider .show_size p {
  padding: 12px 0px !important;
  margin-bottom: 0px !important;
}

.size_slider .show_size .light {
  padding-top: 0px !important;
}

.size_slider .show_size_active {
  background-color: #fff;
  border: 2px solid #000000;
}

.size_table .title {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}

.size_table .title_table {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.size_slider .slick-slider {
  position: relative;
  top: -90px;
  margin-left: 69px;
}

.size_slider .sizes {
  padding: 0px 10px !important;
  width: 81px;
}

.sizes .light {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}

.sizes p {
  font-size: 14px;
  line-height: 16px;
}
.sizes .price_type p {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0px !important;
  padding-top: 8px;
}

.price_type .light {
  opacity: 0.5 !important;
}

.top-single-container .add_to_cart {
  background: #222222 !important;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  border: none !important;
  margin-bottom: 15px;
}

.top-single-container .add_to_cart img {
  padding: 0px 10px;
}

.border_top {
  border-top: 2px solid #ededed;
  padding: 20px 0px;
}

.border_bottom {
  border-bottom: 2px solid #ededed;
  padding: 20px 0px;
}

.light {
  opacity: 0.5;
}

.single-main-block .text-capitalize,
.info .text-capitalize {
  text-transform: uppercase !important;
}

.info_row .info p {
  margin-bottom: 0px !important;
}

.single-main-block h2 {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.single-main-block p {
  margin-bottom: 10px;
}

.single-main-block .description {
  padding: 20px 0px;
}

.slick-slide .categorys input {
  opacity: 0;
  width: 300px;
  height: 20px;
}

.slick-slide .categorys .show_category {
  text-transform: uppercase;
  border: 2px solid #0000;
  border-radius: 5px;
  width: 300px;
}

.slick-slide .categorys .show_category p {
  width: 300px;
}

.single-main-block .slick-track {
  width: 100% !important;
}

.categorys .connect_us {
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #000;
  background: transparent;
  width: 200px;
  padding: 10px;
  font-weight: bold;
}

.categorys h2 {
  font-size: 16px;
  line-height: 18px;
}

.faq_row {
  background: #f5f5f5;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 18px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-tabs .tab-content {
  padding: 20px;
}

.single-tabs .tab-content p {
  margin-bottom: 0px;
}

.single-tabs .tab-content .light {
  text-transform: uppercase;
}

.single-tabs .tab-content .title {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

.top-single-container .product_slider {
  padding: 0px 20px;
}

.product_slider .title {
  font-size: 18px;
  line-height: 21px;
}

.item .bold {
  font-weight: bold;
}

.categorys_slider p {
  border: 1px solid #7b7b7b;
  padding: 5px 20px;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.categorys_slider input {
  opacity: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 133px;
  height: 41px;
  position: relative;
  z-index: 100;
}

.categorys_slider {
  padding: 0px 20px;
}

.categorys_slider .show_category {
  position: relative;
  top: -17px;
}

.categorys_slider .slick-slider {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.categorys_slider .slick-slider div {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.show_category_active p {
  background: #f5f5f5;
  opacity: 0.5;
  border: none;
}

.flex_jus_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.categories-menu li span {
  text-transform: capitalize !important;
  font-weight: normal !important;
  font-size: 16px;
  line-height: 40px;
  color: #000 !important;
}

.single-tabs .nav-tabs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.single-tabs .nav-link {
  padding: 5px 17px;
  margin-right: 0px;
}

.cart-container .cpc-price {
  position: relative;
  top: -18px;
}

.cc-category {
  color: #000 !important;
}

.error {
  color: red !important;
  text-align: center;
}

.order_issued {
  padding: 28px 20px;
  color: #222222;
}

.order_issued p {
  margin-bottom: 0px !important;
}

.order_confirm {
  background: #efefef;
  padding: 30px;
}

.order_confirm p {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #222222;
}

.order_confirm strong p {
  font-size: 22px;
  line-height: 25px;
  color: #222222;
  font-weight: bold;
  margin-top: 20px;
}

.order_info {
  padding: 20px 0px;
  border-bottom: 1px solid #efefef;
}

.order_info .type_send {
  font-weight: bold;
}

.order_info .address {
  font-size: 16px;
  line-height: 20px;
}

.order_info .payment {
  font-size: 16px;
  line-height: 18px;
}

.order_info p {
  margin-bottom: 10px !important;
}

.order_detail,
.order_price {
  padding: 20px 0px;
  border-bottom: 1px solid #efefef;
}

.order_detail .d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order_detail .d_flex img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.order_detail .img_row {
  margin-bottom: 20px;
}

.order_detail .img_row {
  font-size: 16px;
  line-height: 20px;
}

.order_detail .code {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.order_detail .price {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}

.order_detail .size {
  font-weight: bold;
}

.order_price p {
  font-size: 16px;
  line-height: 18px;
}

.order_price .total_price p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.order_price > div {
  padding-bottom: 20px;
}

.text_row p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.text_row .code {
  font-weight: bold;
  color: #222222 !important;
}

.order_issued button {
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
}

.order_issued .absolute {
  position: absolute;
  padding: 4px;
}

.text_row {
  padding: 20px 0px;
}

.order_issued .message {
  border: 2px solid #222222;
  background: #fff;
  margin-top: 100px;
}

.order_issued .call {
  color: #fff;
  background: #222222;
  border: none;
}

.find_order {
  padding: 30px;
}

.find_order .type_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.find_order .circle {
  width: 90px;
  height: 90px;
  background: #efefef;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.type_row p {
  padding-top: 18px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.find_order .map .absolute {
  position: relative;
  right: 33px;
  top: -12px;
}

.find_order .clock .absolute {
  position: relative;
  top: -6px;
  left: -26px;
}

.find_order .circle .img_row {
  position: relative;
  left: 5px;
}

.find_order .clock .circle .img_row {
  left: 8px;
}

.find .border {
  width: 100%;
  height: 1px;
  background: #efefef;
  border: none !important;
}

.find .accordion {
  padding: 20px 0px;
}

.find .categories-menu {
  padding: 0 !important;
}

.find .categories-menu li {
  padding: 0px !important;
  margin: 0px !important;
}

.find .accordion .my_accordion_btn_cont {
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  font-weight: normal !important;
}

.find .accordion .left {
  border-bottom: 1px solid #efefef;
  padding: 20px 30px 20px 0px;
  position: relative;
  left: 20px;
}
.find .accordion .border-none {
  border: none !important;
}

.find .accordion .bg_dark {
  background: #222222 !important;
  color: #fff !important;
}

.find .order_issued .message {
  margin-top: 0px;
}

.example_page {
  padding: 20px;
}

.example_page .title {
  font-size: 24px;
  line-height: 28px;
}

.example_page .title span {
  font-weight: bold;
}

.example_page .text {
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}
